@header2:teal;
@pargraph:black;
@font: 'Courier New', Courier, monospace;
@button:lightgray;
.mixin-displayflex {
	display: flex;
	flex-direction: row;
}

// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}


html, body {
	height: 100%;
	font-family: @font;
}

.navbar {
	float: left;
	width: 100%;
	background-color: @button;
	padding: 1em;
	
	ul {
		float: right;
        background-color: @button;
        height: 20px;
		padding-left: 150px;
		font-family: @font;
		color: black;
		display: flex;
		justify-content: space-between;
		
		a {
		color:black;
		padding: 0 10px;
		}
	}
	 
}

.container {
	width: 100%;
	padding: 5em;
	background: lightgrey;
	display: flex;
	display: row-reverse;

	

	.leftbox {
		width: 50%;
			img {
				width: 100%;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
	}

// 	.rightbox {
// 		width: 50%;
// 		padding: 6em;
// 	}
// h1 {
// 	font-family: @font;
// 	padding: 0em;
// 	font-size: 5em;
// 	color: @header2;
// 	text-align: center;
// 	}
	@media only screen and (max-width: 500px) {
		width: 500px;
		padding: 0em;
		background-color: blue;
	}
}
h2 {
	font-family: @font;
	text-align: left;
	color: @header2;
	font-size: 2em;
}

h3 {
	font-family: @font;
	margin: 0em;
}
p {
	font-size: 1em;
	font-family: 'Courier New', Courier, monospace;
	padding: 10px;
	line-height: 1.4;
	color: @pargraph;
	border-width: 5px;
	border-style: dotted;
}

.about {
	border-width: 5px;
	border-style: dotted;
	
}
.bottomcontainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 25px;

	.leftside {
		width: 50%
	}

	.rightside {
		width: 50%;
	}
}

.footer-content {
	margin-top: 50px;

	.btn-class {
		padding:10px 40px 10px 10px;
		margin-left: 10px;
		margin-bottom: 10px;
		border-radius: 10px;
		background-color: @button;
		color:@pargraph;
		font-family: @font;
		cursor: pointer;

		&:hover {
			background-color: darken(@button, 20%);
		}
	}
}




